* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}
body {
  background-image: url(./img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
section {
  padding: 5rem 0rem;
}
.container {
  width: 50%;
  margin: 0 auto;
}
.row {
  width: 520px;
  height: 189px;
  background-color: rgba(0, 0, 0, 0.829);
  color: white;
  text-align: center;
  border: 18px solid gray;
  border-radius: 17px;
  margin: 0 auto;
}
h1#time {
  font-size: 3.5rem;
  display: inline-block;
  color: red;
}
h1.title {
  font-size: 4rem;
  text-align: center;
  margin: 15px;
}
.clock {
  margin-top: 1.1rem;
}
small {
  font-size: 1.5rem;
}
h3 {
  margin-right: 22rem;
  font-family: monospace;
}
@media only screen and (max-width: 700px) {
  section {
  padding: 2rem 0rem;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.row {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.829);
  color: white;
  text-align: center;
  border: 18px solid gray;
  border-radius: 17px;
  margin: 0 auto;
}
h1#time {
  font-size: 2rem;
  display: inline-block;
  color: red;
}
h1.title {
  font-size: 2rem;
  text-align: center;
  margin: 15px;
}
.clock {
  margin-top: 1.1rem;
}
small {
  font-size: 1rem;
}
h3 {
  margin-right: 22rem;
  font-family: monospace;
}
